service: persisto-labs-email

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 128
  stage: ${ opt:stage }
  region: us-east-1
  deploymentBucket: persisto-deployments
  profile: persisto
  timeout: 15
  environment:
    POSTMARK_KEY: ${ env:POSTMARK_KEY }
    AWS_DEFAULT_BUCKET: ${ env:AWS_DEFAULT_BUCKET }
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:GetObject
        - s3:PutObject
        - s3:ListObjects
      Resource:
        - arn:aws:s3:::persisto-labs-leads
        - arn:aws:s3:::persisto-labs-leads/*

# you can add packaging information here
package:
  include:
    # - '**/*.js'
    # - vendored/**
  exclude:
    - '*.envrc'
    - '*.spec.*'
    - v_env/**



functions:
  post:
    handler: handler.post
    events:
      - http:
          path: /
          method: post
          queryParameters:
            email: $input.body('email')
            name: $input.body('name')
            budget: $input.body('budget')
            description: $input.body('description')

# resources:
#   Resources:
      # pathmapping:
      #   Type: AWS::ApiGateway::BasePathMapping
      #   Properties:
      #     BasePath: oauth2
      #     DomainName: ${self:vars.domainName}
      #     RestApiId:
      #       Ref: ApiGatewayRestApi
      #     Stage: ${self:vars.stage}
#     DeadLetterQueue:
#       Type: "AWS::SNS::Topic"
#       Properties:
#         TopicName: avature-dead-letter-${self:provider.stage}
